
<style>
@import url('https://fonts.googleapis.com/css?family=Anton|Archivo+Black|Material+Icons|Francois+One|Merriweather+Sans|Palanquin+Dark');
</style>

body, span, div, table, tr, tbody, tfoot, td, hr {
    -webkit-print-color-adjust: exact;
}

@media print {

  @page{
   margin:0;
  }

/*626B75 for side bar*/

  .container{
    padding: 0px !important;
  }

  body{
    background-color:#D7C4B2 !important;
  }

  #name{
    background-color: #A05F00 !important;
    color: #552900 !important;
    width: 100% !important;
    margin: 0 auto !important;
  }

  .leftbox{
    background-color:#486C60 !important;
    color: #E2DBD7 !important;
    height: 200vh !important;
  }

  .aboutme{
    color: #E2DBD7 !important;
    font-size: 27px !important;
  }

  .doublebox{
    text-align: center;
  }

  .brandstatement{
    margin-top: 10px !important;
    border-style: solid !important;
    border-width: 5px !important;
    border-radius: 5px !important;
    border-color: #2A4D6E !important;
    text-align: justify !important;
    text-justify: inter-word !important;
  }

  .brandstatementp{
    margin-top: 10px;
  }


  .travelstatement{
    background-color: #AA8E39 !important;
    width: 100% !important;
  }


  .material-icons {
    color: #E2DBD7 !important;
  }

  .fa:before {
    color: #E2DBD7 !important;
  }

  .fa.fa-chevron-circle-right:before{
    color: black !important;
  }

  .travel{
    color: #E2DBD7 !important;
    font-size: 27px !important;
  }

  .work{
    color: #E2DBD7 !important;
    font-size: 27px !important;
  }

  .education{
    color: #E2DBD7 !important;
    font-size: 27px !important;
  }

  .WDI{
    color: #E2DBD7 !important;
    font-size: 27px !important;
  }

  ul {
    list-style-type: none !important;
  }

  .sidebarli{
    padding-left: 20px!important;
    color: #E2DBD7 !important;
  }

  .liitem{
    padding-left: 20px!important;
  }


  .list-group-item {
    padding: 3px 10px !important;
  }

}

.material-icons {
  color: #E2DBD7
}


body{
    font-family: 'Archivo Black', sans-serif;
    height: 100vh;
}


html{
  height: 100vh;
}

#name{
  text-align: center;
  font-family: 'Francois One', sans-serif;
  font-size: 33px;
  text-decoration-style: double;
  background-color: red;
}

.github{
  text-align: right;
  font-family: 'Archivo Black', sans-serif;
}
.email{
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}
.tumblr{
  text-align: left;
  font-family: 'Archivo Black', sans-serif;
}
